* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --primary: #1aac83; */
  --error: #e7195a;
}

body {
  font-family: "roboto", sans-serif;
}

div.error {
  padding: 5px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}


